httpx
Pillow
playwright
tenacity
typer
opencv-python
aiomysql
redis
pydantic
aiofiles
fastapi
uvicorn
python-dotenv
jieba
wordcloud
matplotlib
requests
parsel
pyexecjs
pandas
aiosqlite
pyhumps
cryptography
alembic
asyncmy
sqlalchemy
motor
openpyxl
pytest
pytest-asyncio
xhshow